<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gedcomx.Api.Lite" version="1.0.1" targetFramework="net461" />
  <package id="Gedcomx.Model" version="1.0.6144.20322" targetFramework="net461" />
  <package id="Gedcomx.Model.Fs" version="1.0.6144.20322" targetFramework="net461" />
  <package id="Gedcomx.Model.Rs" version="1.0.6144.20322" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
</packages>